<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="Miminium Admin Template v.1" />
    <meta name="author" content="Isna Nur Azis" />
    <meta name="keyword" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Plant Management</title>

    <!-- start: Css -->
    <link rel="stylesheet" type="text/css" href="/Content/asset/css/bootstrap.min.css" />

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/Content/asset/css/plugins/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/asset/css/plugins/simple-line-icons.css" />
    <link rel="stylesheet" type="text/css" href="/Content/asset/css/plugins/animate.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/asset/css/plugins/fullcalendar.min.css" />
    <link href="/Content/asset/css/style.css" rel="stylesheet" />

    <!-- end: Css -->

    <link rel="shortcut icon" href="/Content/asset/img/favicon.ico" />
    
</head>

<body id="mimin" class="dashboard">
    <!-- start: Header -->
    <nav class="navbar navbar-default header navbar-fixed-top">
        <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width: 100%">
                <div class="opener-left-menu is-open">
                    <span class="top"></span>
                    <span class="middle"></span>
                    <span class="bottom"></span>
                </div>
                <a href="index.html" class="navbar-brand">
                    <b>PLANT</b>
                </a>

                <!-- <ul class="nav navbar-nav search-nav">
                    <li>
                        <div class="search">
                            <span class="fa fa-search icon-search" style="font-size: 23px"></span>
                            <div class="form-group form-animate-text">
                                <input type="text" class="form-text" required />
                                <span class="bar"></span>
                                <label class="label-search"><b>Search</b>
                                </label>
                            </div>
                        </div>
                    </li>
                </ul> -->

                <div class="adminLogin"></div>
            </div>
        </div>
    </nav>
    <!-- end: Header -->

    <div class="container-fluid mimin-wrapper">
        <!-- start:Left Menu -->
        <div id="left-menu">
            <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li>
                        <div class="left-bg"></div>
                    </li>
                    <li class="time">
                        <h1 class="animated fadeInLeft">21:00</h1>
                        <p class="animated fadeInRight">Sat,October 1st 2029</p>
                    </li>
                    <li class="active ripple">
                        <a class="tree-toggle nav-header">
                            <i class="fa fa-leaf"></i> Plant
                            <span class="fa-angle-right fa right-arrow text-right"></span>
                        </a>
                        <ul class="nav nav-list tree">
                            <li><a href="Division.html">Division</a></li>
                            <li><a href="Class.html">Class</a></li>
                            <li><a href="Order.html">Order</a></li>
                            <li><a href="Family.html">Family</a></li>
                            <li><a href="Genus.html">Genus</a></li>
                            <li><a href="Species.html">Species</a></li>
                        </ul>
                    </li>
                    <li class="ripple">
                        <a href="ManagerAccount.html">
                            <span class="fa fa-user"></span> Account
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end: Left Menu -->
        <!-- start: content -->
        <div id="content">
            <div class="col-md-12 top-20 padding-0">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="col-md-1"></div>
                            <div class="col-md-10">
                                <h3>Account Management</h3>
                            </div>
                            <div class="col-md-1">
								<button type="button" data-toggle="modal" data-target="#add" class="btn-add">
									<i class="fa fa-plus"></i>
								</button>
							</div>
                        </div>
                        <div class="panel-body">
                            <div class="responsive-table">
                                <table id="datatables-example" class="table table-striped table-bordered" width="100%"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Status</th>
                                            <th style="text-align: center;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody id="accounts"></tbody>
                                </table>
                                <div style="width: 100%;" class="row">
									<div
										style="display: flex; justify-content: center; padding-left: 45px; width: 100%;;border-top: #70c74561 solid 2px;"
										class="pagination" id="paginationAccount">
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-4">
                    <div class="panel">
                        <div class="panel-heading">
                            <h3>Add Account</h3>
                        </div>
                        <div class="panel-body">
                            <div>
                                <input type="number" class="Id" name="txtId" hidden />
                                <div class="form-group" style="width: 100%; margin-top:20px; text-align:left;">
                                    <label class="control-label text-right"
                                        style="margin-right:10px; display:inline-block; color:#918C8C; font-size:150%;">Account</label>
                                    <br />
                                    <div style="width:100%; display:inline-block;"><input name="txtTitle"
                                            style="width:100%;" type="text" class="form-control Title" required></div>
                                </div>

                                <div class="form-group" style="width: 100%; margin-top:20px; text-align:left;">
                                    <label class="control-label text-right"
                                        style="margin-right:20px; display:inline-block; color:#918C8C; font-size:150%;">Password</label>
                                    <br />
                                    <div style="width:100%; display:inline-block;"><input name="txtSubject"
                                            style="width:100%;" type="text" class="form-control Subject" required></div>
                                </div>

                                <div class="form-group" style="width: 100%; margin-top:20px; text-align:left;">
                                    <label class="control-label text-right"
                                        style="margin-right:20px; display:inline-block; color:#918C8C; font-size:150%;">Created
                                        Date</label>
                                    <br />
                                    <div style="width:100%; display:inline-block;"><input name="txtCreatedDate"
                                            style="width:100%;" type="date" class="form-control CreatedDate" required>
                                    </div>
                                </div>
                                <div class="form-group"
                                    style="width: 100%; margin-top:20px; margin-bottom:30px; text-align:left;">
                                    <div class="col-md-6" style="margin-top:5px; display:inline-block; height:45px;">
                                        <button data-toggle="modal" data-target="#notiDelete"
                                            class="btn ripple btn-round" style="background-color:#2196F3;" type="button"
                                            data-toggle="modal" data-target="#edit">
                                            <div>
                                                <span style="color:white;">Add</span>
                                            </div>
                                        </button>
                                    </div>
                                    <div class="col-md-6" style="margin-top:5px; display:inline-block;">
                                        <button name="btnDelUp" value="update" form="formDelete"
                                            class="btn ripple btn-outline btn-primary" type="submit"
                                            style="border-color: #2196F3 !important; color:white !important; border-radius:24px !important;">
                                            <div>
                                                <span style="color:#2196F3;">Cancel</span>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="modal fade" id="add" role="dialog">
				<div class="modal-dialog">

					<!-- Modal content-->
					<div class="modal-content" style="overflow:auto;">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Add New Account</h4>
						</div>
						<div class="modal-body" style="overflow:auto;">
							<form id="formAddAccount">
								<div class="form-group form-animate-text" style="margin-top:40px !important;">
									<input type="text" id="addEmail" class="form-text" required>
									<span class="bar"></span>
									<label>Email</label>
								</div>

								<div class="form-group form-animate-text" style="margin-top:40px !important;">
									<input type="text" id="addName" class="form-text mask-phone_us" required>
									<span class="bar"></span>
									<label>Name</label>
								</div>
								<div class="form-group form-animate-text" style="margin-top:40px !important;">
									<input type="password" id="addPass" class="form-text" required>
									<span class="bar"></span>
									<label>Password</label>
								</div>
                                <div class="form-group form-animate-text" style="margin-top:40px !important;">
									<!-- <input type="text" id="addPass" class="form-text" required> -->
									<span class="bar"></span>
                                    <select class="form-control" id="addRole">
                                        <option value="admin">Admin</option>
                                        <option value="user">User</option>
                                      </select>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button onclick="addAccount()" type="button" class="btn btn-primary" form="formAddAccount">Add New
								Account</button>
						</div>
					</div>

				</div>
			</div>
            <div class="edit modal fade" id="edit" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content" style="overflow:auto;">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Edit Account</h4>
						</div>
						<div class="modal-body" style="overflow:auto;">
							<form id="formEditDivision">
								<div
									style="padding-left: 5px; font-size: 18px; flex-direction: column; display: flex; margin-top:20px !important;">
									<label>ID</label>
									<p id="editID"></p>
								</div>

								<div class="form-group form-animate-text" style="margin-top:40px !important;">
									<textarea id="editEmail" class="form-text" required></textarea>
									<span class="bar"></span>
									<label>Email</label>
								</div>
								<div class="form-group form-animate-text" style="margin-top:40px !important;">
									<textarea id="editName" class="form-text mask-phone_us" required></textarea>
									<span class="bar"></span>
									<label>Name</label>
                                </div>
                                <div class="form-group form-animate-text" style="margin-top:40px !important;">
                                    <input type="password" id="editPass" class="form-text" required></input>
                                    <span class="bar"></span>
                                    <label>Password</label>
                                </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button id="btnEdit" type="button" class="btn btn-primary" form="formEditDivision">Edit Division</button>
                </div>
            </div>

				</div>
			</div>
            <div class="modal fade" id="delete">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
									aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Delete</h4>
						</div>
						<div class="modal-body">
							<h5> Are you sure to delete this Account?</h5>
						</div>
						<div class="modal-footer">
							<button id="btnDelete" type="button" name="btnDelUp" class="btn btn-default">Yes</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
        </div>


        <script src="/Content/asset/js/jquery.min.js"></script>
        <script src="/Content/asset/js/jquery.ui.min.js"></script>
        <script src="/Content/asset/js/bootstrap.min.js"></script>

        <!-- plugins -->
        <script src="/Content/asset/js/plugins/moment.min.js"></script>
        <script src="/Content/asset/js/plugins/fullcalendar.min.js"></script>
        <script src="/Content/asset/js/plugins/jquery.nicescroll.js"></script>
        <script src="/Content/asset/js/plugins/jquery.vmap.min.js"></script>
        <script src="/Content/asset/js/plugins/maps/jquery.vmap.world.js"></script>
        <script src="/Content/asset/js/plugins/jquery.vmap.sampledata.js"></script>
        <script src="/Content/asset/js/plugins/chart.min.js"></script>

        <!-- custom -->
        <script src="/Content/asset/js/main.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/scripts/index.js"></script>
        <script src="/scripts/adminHeader.js"></script>

        <script src="/adminapi/accountsService.js"></script>
</body>

</html>