*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('/Content/asset/img/loginBackground.jpg');
    /* background-image: url('/assets/images/7FbFtgb.jpg'); */
    background-size:cover;
    display: flex;
    align-items: center;
}
.container{
    height: 100%;
    margin-top: 100px;
}
.homePage{
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.homePage a{
    color: #FFC312;
    transition: 0.3s;
    text-decoration: none;
}

.homePage a:hover{
    color: #70c745;
    transition: 0.3s;
}
.homePage a i {
    padding-right: 10px;
}
.homePage a i :hover{
    transform:scale(1.5);
}
.card{
    height: 480px;
    margin: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
    /* display: block; */
    border-radius: 2%;
}

h1.tittle{
    color: white;
    padding-top: 25px;
    font-family: 'Pacifico', cursive;
    font-size: 70px ;
    text-align: center;
}

.card p{
    color: white;
    opacity: 0.9;
    padding-top: 15px ;
    font-weight: 100;
    text-align: center;
}
.registerForm{
    padding: 10px 50px ;
}

.form-group{
    padding-bottom: 5px;
}
.input-group-prepend span{
    width: 40px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
    transition: 0.3s
}

.input-group-prepend span:hover i{
    transform: scale(1.4);
    transition: 0.3s
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;
}


.login_btn{ 
    color: black;
    background-color: #FFC312;
    width: 100px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.2s
}

.login_btn:hover{
    color: black;
    background-color: rgb(217 109 56);
    transform: scale(1.05);
    color: white;
    transition: 0.2s;
}