<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!-- Title -->
	<title>Plants Management System</title>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
		rel="stylesheet" />

	<!-- Favicon -->
	<link rel="icon" href="/Content/mainPage/img/core-img/favicon.ico" />

	<!-- Core Stylesheet -->
	<link rel="stylesheet" type="text/css" href="/Content/mainPage/style.css" />
</head>

<body>
	<!-- ##### Header Area Start ##### -->
	<div w3-include-html="./layouts/header.html"></div>
	<!-- ##### Header Area End ##### -->

	<!-- ##### Breadcrumb Area Start ##### -->
	<div class="breadcrumb-area">
		<!-- Top Breadcrumb Area -->
		<div class="
					top-breadcrumb-area
					bg-img bg-overlay
					d-flex
					align-items-center
					justify-content-center
				" style="background-image: url(/Content/mainPage/img/bg-img/24.jpg)">
			<h2>SPECIES DETAILS</h2>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="index.html"><i class="fa fa-home"></i> Home</a>
							</li>
							<li class="breadcrumb-item"><a href="plants.html">Plants</a></li>
							<li class="breadcrumb-item active" aria-current="page">Plants Details</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<!-- ##### Breadcrumb Area End ##### -->

	<!-- ##### Single Product Details Area Start ##### -->
	<section class="single_product_details_area mb-50">
		<div class="produts-details--content mb-50">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-12 col-md-6 col-lg-5">
						<div class="single_product_thumb">
							<div id="product_details_slider" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active" id="hinhanh">
										<!-- <a class="product-img" href="/Content/mainPage/img/bg-img/49.jpg"
											title="Product Image">
											<img class="d-block w-100" src="/Content/mainPage/img/bg-img/49.jpg"
												alt="1" />
										</a> -->
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-md-6">
						<div class="single_product_desc">
							<h4 id="title" class="title"></h4>
							<h4 id="tenTV"></h4>
							<h4 id="giaTri"></h4>
							<br>
							<div class="short_overview">
								<p id="dangsong" style="font-size: 16px"></p>
								<p id="phanbo" style="font-size: 16px"></p>
							</div>

							<div class="products--meta">
								<p><span>Divison</span> <span id="divisioName" onclick="getParentDetail('divisio')" style="font-size: 20px; font-weight: bold; color: black; cursor: pointer;">/-----/</span></p>
								<p><span>Class</span> <span id="classisName" onclick="getParentDetail('classis')" style="font-size: 20px; font-weight: bold; color: black; cursor: pointer;">/-----/</span></p>
								<p><span>Order</span> <span id="orderName" onclick="getParentDetail('ordo')" style="font-size: 20px; font-weight: bold; color: black; cursor: pointer;">/-----/</span></p>
								<p><span>Family</span> <span id="familiaName" onclick="getParentDetail('familia')" style="font-size: 20px; font-weight: bold; color: black; cursor: pointer;">/-----/</span></p>
								<p><span>Genus</span> <span id="genusName" onclick="getParentDetail('genus')" style="font-size: 20px; font-weight: bold; color: black; cursor: pointer;">/-----/</span></p>
								<!-- <p>
                                    <span>Share on:</span>
                                    <span>
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                </span>
                                </p> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="product_details_tab clearfix">
						<!-- Tabs -->
						<ul class="nav nav-tabs" role="tablist" id="product-details-tab">
							<li class="nav-item">
								<a href="#description" class="nav-link active" data-toggle="tab" role="tab">Đặc điểm
									nhận dạng</a>
							</li>
							<li class="nav-item">
								<a href="#addi-info" class="nav-link" data-toggle="tab" role="tab">Sinh học sinh
									thái</a>
							</li>
							<!-- <li class="nav-item">
                                <a href="#reviews" class="nav-link" data-toggle="tab" role="tab">Reviews <span class="text-muted">(1)</span></a>
                            </li> -->
						</ul>
						<!-- Tab Content -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane fade show active" id="description">
								<div class="description_area">
									<p id="dacdiem"></p>
								</div>
							</div>
							<div role="tabpanel" class="tab-pane fade" id="addi-info">
								<div class="additional_info_area">
									<p id="tinhtrang"></p>
									<p id="sinhhoc"></p>
								</div>
							</div>
							<!-- <div role="tabpanel" class="tab-pane fade" id="reviews">
                                <div class="reviews_area">
                                    <ul>
                                        <li>
                                            <div class="single_user_review mb-15">
                                                <div class="review-rating">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <span>for Quality</span>
                                                </div>
                                                <div class="review-details">
                                                    <p>by <a href="#">Colorlib</a> on <span>12 Sep 2018</span></p>
                                                </div>
                                            </div>
                                            <div class="single_user_review mb-15">
                                                <div class="review-rating">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <span>for Design</span>
                                                </div>
                                                <div class="review-details">
                                                    <p>by <a href="#">Colorlib</a> on <span>12 Sep 2018</span></p>
                                                </div>
                                            </div>
                                            <div class="single_user_review">
                                                <div class="review-rating">
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <i class="fa fa-star" aria-hidden="true"></i>
                                                    <span>for Value</span>
                                                </div>
                                                <div class="review-details">
                                                    <p>by <a href="#">Colorlib</a> on <span>12 Sep 2018</span></p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                                <div class="submit_a_review_area mt-50">
                                    <h4>Submit A Review</h4>
                                    <form action="#" method="post">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="form-group d-flex align-items-center">
                                                    <span class="mr-15">Your Ratings:</span>
                                                    <div class="stars">
                                                        <input type="radio" name="star" class="star-1" id="star-1">
                                                        <label class="star-1" for="star-1">1</label>
                                                        <input type="radio" name="star" class="star-2" id="star-2">
                                                        <label class="star-2" for="star-2">2</label>
                                                        <input type="radio" name="star" class="star-3" id="star-3">
                                                        <label class="star-3" for="star-3">3</label>
                                                        <input type="radio" name="star" class="star-4" id="star-4">
                                                        <label class="star-4" for="star-4">4</label>
                                                        <input type="radio" name="star" class="star-5" id="star-5">
                                                        <label class="star-5" for="star-5">5</label>
                                                        <span></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="name">Nickname</label>
                                                    <input type="email" class="form-control" id="name" placeholder="Nazrul">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="options">Reason for your rating</label>
                                                    <select class="form-control" id="options">
                                                          <option>Quality</option>
                                                          <option>Value</option>
                                                          <option>Design</option>
                                                          <option>Price</option>
                                                          <option>Others</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label for="comments">Comments</label>
                                                    <textarea class="form-control" id="comments" rows="5" data-max-length="150"></textarea>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn alazea-btn">Submit Your Review</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- ##### Single Product Details Area End ##### -->

	<!-- ##### Related Product Area Start ##### -->
	<!-- ##### Related Product Area End ##### -->

	<!-- ##### Footer Area Start ##### -->
	<div w3-include-html="./layouts/footer.html"></div>
	<!-- ##### Footer Area End ##### -->

	<!-- ##### All Javascript Files ##### -->
	<!-- jQuery-2.2.4 js -->
	<script src="/Content/mainPage/js/jquery/jquery-2.2.4.min.js"></script>
	<!-- Popper js -->
	<script src="/Content/mainPage/js/bootstrap/popper.min.js"></script>
	<!-- Bootstrap js -->
	<script src="/Content/mainPage/js/bootstrap/bootstrap.min.js"></script>
	<!-- All Plugins js -->
	<script src="/Content/mainPage/js/plugins/plugins.js"></script>
	<!-- Active js -->
	<script src="../../../scripts/index.js"></script>
	<script src="../../../scripts/layoutHeader.js"></script>
	<script src="/Content/mainPage/js/active.js"></script>

	<script src="/Content/mainPage/js/csi.js"></script>
	<script src="/api/getData/getSpeciesbyId.js"></script>
	<!-- <script src="/api/getData/getDivisionbyId.js"></script> -->
	<script>
		speciesbyId();
	</script>
	<script>
		includeHTML();
	</script>
</body>

</html>