<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title -->
  <title>Plants Management System</title>

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
    rel="stylesheet">

  <!-- Favicon -->
  <link rel="icon" href="/Content/mainPage/img/core-img/favicon.ico">

  <!-- Core Stylesheet -->
  <link rel="stylesheet" type="text/css" href="/Content/mainPage/style.css">

</head>

<body>

  <!-- ##### Header Area Start ##### -->
  <div w3-include-html="./layouts/header.html"></div>
  <!-- ##### Header Area End ##### -->

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area">
    <!-- Top Breadcrumb Area -->
    <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
      style="background-image: url(/Content/mainPage/img/bg-img/24.jpg);">
      <h2>Plants</h2>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/index.html"><i class="fa fa-home"></i> Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Plants</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### Portfolio Area Start ##### -->
  <section class="alazea-portfolio-area portfolio-page section-padding-0-100">
    <div class="container" style="height: 75px;">
      <div class="row">
        <!-- Section Heading -->
        <div class="section-heading text-center"
          style="width: 100%; padding-bottom: 20px; border-bottom: 1px solid #70c74561;">
          <h2>PLANTS</h2>
        </div>
      </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="alazea-portfolio-filter">
                        <div class="portfolio-filter" style="float: left; flex-direction: column; text-align: left" id="myBtnContainer">
                            <button style="padding: 10px 20px;" id="divisioClick" class="btn active" onclick="filterSelection('divisio')"></a>Division</button>
                            <button style="padding: 10px 20px;" id="classClick" class="btn" onclick="filterSelection('class')" > Class</button>
                            <button style="padding: 10px 20px;" class="btn" onclick="filterSelection('order')" >Order</button>
                            <button style="padding: 10px 20px;" class="btn" onclick="filterSelection('family')">Family</button>
                            <button style="padding: 10px 20px;" class="btn" onclick="filterSelection('genus')" >Genus</button>
                            <button style="padding: 10px 20px;" class="btn" onclick="filterSelection('species')" >Species</button>
                        </div>
                    </div>
                </div>
            <div class="col-9 container">
            <div class="filterDiv divisio">
                <table style="float: left;"  class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Khoa Học</th>
                        <th scope="col">Tên Tiếng Việt</th>
                      </tr>
                    </thead>
                    <tbody id="divisonBody"></tbody>
                  </table>
                  <div style="width: 100%;" class="row">
                    <div style="padding-left: 45px; width: 100%;;border-top: #70c74561 solid 2px;" class="pagination" id="pagination">
                      </div>
                  </div>
            </div>
            <div class="filterDiv class">
                <table style="float: left;" class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Khoa Học</th>
                        <th scope="col">Tên Tiếng Việt</th>

                      </tr>
                    </thead>
                    <tbody id="classBody"> </tbody>
                  </table>
                  <div style="width: 100%;" class="row">
                    <div style="padding-left: 45px; width: 100%;;border-top: #70c74561 solid 2px;" class="pagination" id="paginationClass">
                      </div>
                  </div>
            </div>
            <div class="filterDiv order">
                <table style="float: left;" class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Khoa Học</th>
                        <th scope="col">Tên Tiếng Việt</th>
                      </tr>
                    </thead>
                    <tbody id="orderBody"></tbody>
                  </table>
                  <div style="width: 100%;" class="row">
                    <div style="padding-left: 45px; width: 100%;;border-top: #70c74561 solid 2px;" class="pagination" id="paginationOrder">
                      </div>
                  </div>
            </div>
            <div class="filterDiv family">
                <table style="float: left;" class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Khoa Học</th>
                        <th scope="col">Tên Tiếng Việt</th>
                      </tr>
                    </thead>
                    <tbody id="familyBody"></tbody>
                  </table>
                  <div style="width: 100%;" class="row">
                    <div style="padding-left: 45px; width: 100%;;border-top: #70c74561 solid 2px;" class="pagination" id="paginationFamily">
                      </div>
                  </div>
            </div>
            <div class="filterDiv genus">
                <table style="float: left;" class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Khoa Học</th>
                        <th scope="col">Tên Tiếng Việt</th>
                      </tr>
                    </thead>
                    <tbody id="genusBody"></tbody>
                  </table>
                  <div style="width: 100%;" class="row">
                    <div style="padding-left: 45px; width: 100%;;border-top: #70c74561 solid 2px;" class="pagination" id="paginationGenus">
                      </div>
                  </div>
            </div>
            <div class="filterDiv species">
                <table style="float: left;" class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên Khoa Học</th>
                        <th scope="col">Tên Tiếng Việt</th>
                      </tr>
                    </thead>
                    <tbody id="spiecesBody">
                    </tbody>
                  </table>
                  <div style="width: 100%;" class="row">
                    <div style="padding-left: 45px; width: 100%;;border-top: #70c74561 solid 2px;" class="pagination" id="paginationSpecies">
                      </div>
                  </div>
            </div>
          </div>
        </div>

        </div>
      </div>
  </section>
  <!-- ##### Portfolio Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  <div w3-include-html="./layouts/footer.html"></div>

  <!-- ##### All Javascript Files ##### -->
  <!-- jQuery-2.2.4 js -->
  <script src="/Content/mainPage/js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="/Content/mainPage/js/bootstrap/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="/Content/mainPage/js/bootstrap/bootstrap.min.js"></script>
  <!-- All Plugins js -->
  <script src="/Content/mainPage/js/plugins/plugins.js"></script>
  <!-- Active js -->
  <script src="/Content/mainPage/js/active.js"></script>

  <script src="/Content/mainPage/js/main.js"></script>
  
  <script src="/Content/mainPage/js/csi.js"></script>
  <script>
    includeHTML();
  </script>
  <script src="/api/getData/getDivision.js"></script>
  <script src="/api/getData/getClass.js"></script>
  <script src="/api/getData/getOrder.js"></script>
  <script src="/api/getData/getFamily.js"></script>
  <div id="add-js-file"></div> //mấy thằng khác của t muốn dùng file handle nớ thì làm răng
  <script src="/api/getData/getGenus.js"></script>
  <script src="/api/getData/getSpecies.js"></script>
</body>

</html>
