<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Plants Management System</title>

    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="/Content/mainPage/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/Content/mainPage/style.css">

</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <footer class="footer-area bg-img" style="background-image: url(/Content/mainPage/img/bg-img/3.jpg);">
        <!-- Main Footer Area -->
        <div class="main-footer-area">
            <div class="container">
                <div class="row">

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>PLANTS MANAGEMENT SYSTEM</h5>
                            </div>
                            <p>Plant management system in Da Nang city</p>
                            <div class="social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-4 " style="padding-left: 100px;">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>QUICK LINK</h5>
                            </div>
                            <nav class="widget-nav">
                                <ul>
                                    <li><a href="/index.html">Home</a></li>
                                    <li><a href="/View/mainPage/blog.html">Blogs</a></li>
                                    <li><a href="/View/mainPage/plants.html">Plants</a></li>
                                    <li><a href="/View/mainPage/about.html">About us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-4" style="padding-left: 100px;">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>
                            <div class="contact-information">
                                <p><span>Phone:</span> 0987654321</p>
                                <p><span>Email:</span> plants.dn@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>  
    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/Content/mainPage/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/Content/mainPage/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/Content/mainPage/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/Content/mainPage/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/Content/mainPage/js/active.js"></script>
</body>

</html>